# Monitor resolution
resolution

# Enable touchpad
touchpad

# Udiskie
udiskie &

# Restore wallpaper
nitrogen --restore &

# Screen temperature
redshift -P -O 2700 &

# Avoid screen to turn off after a certain time
xset s off &

# Enable numlock
numlockx

# Remove cache
rm ~/.cache/wofi-drun
rm ~/.cache/rofi3.druncache

