!      __   ___  __   __        __   __   ___  __  
! \_/ |__) |__  /__` /  \ |  | |__) /  ` |__  /__` 
! / \ |  \ |___ .__/ \__/ \__/ |  \ \__, |___ .__/ 
!                                                  
! https://github.com/jorgeloopzz

! COLORS FOR SXIV
Sxiv.foreground: #FFFFFF
Sxiv.background: #16161d
Sxiv.font: DaddyTimeMono Nerd Font-12

! Scale external monitors
Xft.dpi: 96

! Cursor size
Xcursor.size: 24

! URXVT CONFIGURATION

! Disable scrollbar
URxvt.scrollBar: false

! Fonts
URxvt.font: xft:CaskaydiaCove Nerd Font:size=11
URxvt.letterSpace: -1
URxvt.saveLines: 2000

!Clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

!! Colorscheme

*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

