* {
    border: none;
    font-family: Cousine  Nerd Font;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: black;
    border: 2px solid #c9a0dc;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #8a8a8a;
}

#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.focused {
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #c9a0dc;
    color: #000000;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#clock {
    border-radius: 10px;
    background-color: #c9a0dc;
    color: #000000;
}

#battery {
    background-color: #c9a0dc;
    border-radius: 0 10px 10px 0;
    color: #000000;
}

#battery.charging {
    color: #000000;
    background-color: #0bda51;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #c9a0dc;
    color: #000000;
}

#memory {
    background-color: #c9a0dc;
    color: #000000;
}

#network {
    background-color: #c9a0dc;
    border-radius: 10px 0 0 10px;
    color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #c9a0dc;
    color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
