/*	    ____  ____  __________	*/
/*	   / __ \/ __ \/ ____/  _/	*/
/*	  / /_/ / / / / /_   / /  	*/
/*	 / _, _/ /_/ / __/ _/ /   	*/
/*	/_/ |_|\____/_/   /___/   	*/
/*					*/
/*  https://github.com/jorgeloopzz	*/

configuration {
	modi: "drun";
	show-icons: true;
	drun-display-format: "{icon} {name}";
	location: 0;
	disable-history: false;
	hide-scrollbar: true;
	display-drun: " 󰀻 Apps ";
}

@theme "catppuccin-frappe"
