window {
    opacity: 0.9;
    background-color: #3B4252;
    font: Hurmit Nerd Font;
    border: 2px solid #0099ff;
}

#input {
    border-radius: 0;
    background-color: #3B4252;
    border: 2px solid #0099ff;
}

#inner-box {
    padding: 5px;
}

#text {
    color: #ECEFF4;
    margin-left: 10px;
}

