<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="GDB"> <action name="Execute">
                <execute>xterm -e gdb</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Vi"> <action name="Execute">
                <execute>xterm -e vi</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>xterm -e vim</execute>
            </action> </item>
            <item label="Xedit"> <action name="Execute">
                <execute>xedit</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="17" label="Amusement">
                <item label="Oclock"> <action name="Execute">
                    <execute>oclock</execute>
                </action> </item>
                <item label="tty-clock"> <action name="Execute">
                    <execute>xterm -e tty-clock</execute>
                </action> </item>
                <item label="Xclock (analog)"> <action name="Execute">
                    <execute>xclock -analog</execute>
                </action> </item>
                <item label="Xclock (digital)"> <action name="Execute">
                    <execute>xclock -digital -update 1</execute>
                </action> </item>
                <item label="Xeyes"> <action name="Execute">
                    <execute>xeyes</execute>
                </action> </item>
                <item label="Xlogo"> <action name="Execute">
                    <execute>xlogo</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="6" label="Graphics">
            <item label="ImageMagick (color depth=q16)"> <action name="Execute">
                <execute>display-im6.q16</execute>
            </action> </item>
            <item label="Xditview"> <action name="Execute">
                <execute>xditview</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>xterm -e alsamixer</execute>
            </action> </item>
            <item label="Audacious"> <action name="Execute">
                <execute>audacious</execute>
            </action> </item>
            <item label="eXo"> <action name="Execute">
                <execute>exo</execute>
            </action> </item>
            <item label="mpv"> <action name="Execute">
                <execute>mpv --player-operation-mode=pseudo-gui</execute>
            </action> </item>
            <item label="Pavucontrol"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Brave"> <action name="Execute">
                <execute>brave-browser-stable</execute>
            </action> </item>
            <item label="Brave Web Browser"> <action name="Execute">
                <execute>brave-browser</execute>
            </action> </item>
            <item label="Discord"> <action name="Execute">
                <execute>/usr/share/discord/Discord</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>xterm -e ftp</execute>
            </action> </item>
            <item label="Microsoft Teams"> <action name="Execute">
                <execute>teams</execute>
            </action> </item>
            <item label="qBittorrent"> <action name="Execute">
                <execute>qbittorrent</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>xterm -e telnet</execute>
            </action> </item>
            <item label="W3m"> <action name="Execute">
                <execute>xterm -e w3m</execute>
            </action> </item>
            <item label="w3m"> <action name="Execute">
                <execute>xterm -e w3m /usr/share/doc/w3m/MANUAL.html</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Document Viewer"> <action name="Execute">
                <execute>evince</execute>
            </action> </item>
            <item label="Xbiff"> <action name="Execute">
                <execute>xbiff</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="Bash"> <action name="Execute">
                <execute>xterm -e bash --login</execute>
            </action> </item>
            <item label="Dash"> <action name="Execute">
                <execute>xterm -e dash -i</execute>
            </action> </item>
            <item label="fish"> <action name="Execute">
                <execute>xterm -e fish</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>xterm -e git</execute>
            </action> </item>
            <item label="Sh"> <action name="Execute">
                <execute>xterm -e sh --login</execute>
            </action> </item>
            <item label="SpaceFM"> <action name="Execute">
                <execute>spacefm</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
            <item label="Zsh"> <action name="Execute">
                <execute>xterm -e zsh</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Advanced Network Configuration"> <action name="Execute">
                        <execute>nm-connection-editor</execute>
                    </action> </item>
                    <item label="Disks"> <action name="Execute">
                        <execute>gnome-disks</execute>
                    </action> </item>
                    <item label="Language Support"> <action name="Execute">
                        <execute>gnome-language-selector</execute>
                    </action> </item>
                    <item label="Printers"> <action name="Execute">
                        <execute>system-config-printer</execute>
                    </action> </item>
                    <item label="Settings"> <action name="Execute">
                        <execute>gnome-control-center</execute>
                    </action> </item>
                    <item label="Software &amp; Updates"> <action name="Execute">
                        <execute>software-properties-gtk</execute>
                    </action> </item>
                    <item label="Startup Applications"> <action name="Execute">
                        <execute>gnome-session-properties</execute>
                    </action> </item>
                    <item label="Tweaks"> <action name="Execute">
                        <execute>gnome-tweaks</execute>
                    </action> </item>
                </menu>
                <menu id="35" label="Xfce">
                    <item label="Additional Drivers"> <action name="Execute">
                        <execute>software-properties-gtk --open-tab=4</execute>
                    </action> </item>
                </menu>
                <item label="IBus Preferences"> <action name="Execute">
                    <execute>ibus-setup</execute>
                </action> </item>
                <item label="Input Method"> <action name="Execute">
                    <execute>im-config</execute>
                </action> </item>
                <item label="Livepatch"> <action name="Execute">
                    <execute>software-properties-gtk --open-tab=6</execute>
                </action> </item>
                <item label="lxappearance"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Passwords and Keys"> <action name="Execute">
                    <execute>seahorse</execute>
                </action> </item>
                <item label="Software Updater"> <action name="Execute">
                    <execute>update-manager</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
                <item label="Xfontsel"> <action name="Execute">
                    <execute>xfontsel</execute>
                </action> </item>
                <item label="Xvidtune"> <action name="Execute">
                    <execute>xvidtune</execute>
                </action> </item>
            </menu>
            <item label="Editres"> <action name="Execute">
                <execute>editres</execute>
            </action> </item>
            <item label="GNOME System Monitor"> <action name="Execute">
                <execute>gnome-system-monitor</execute>
            </action> </item>
            <item label="Logout (obsession)"> <action name="Execute">
                <execute>obsession-logout</execute>
            </action> </item>
            <item label="Logs"> <action name="Execute">
                <execute>gnome-logs</execute>
            </action> </item>
            <item label="Power Statistics"> <action name="Execute">
                <execute>gnome-power-statistics</execute>
            </action> </item>
            <item label="Pstree"> <action name="Execute">
                <execute>xterm -e pstree.x11</execute>
            </action> </item>
            <item label="stalonetray"> <action name="Execute">
                <execute>stalonetray</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>xterm -e top</execute>
            </action> </item>
            <item label="Xclipboard"> <action name="Execute">
                <execute>xclipboard</execute>
            </action> </item>
            <item label="Xev"> <action name="Execute">
                <execute>x-terminal-emulator -e xev</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xload"> <action name="Execute">
                <execute>xload</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Bc"> <action name="Execute">
                <execute>xterm -e bc</execute>
            </action> </item>
            <item label="Characters"> <action name="Execute">
                <execute>gnome-characters</execute>
            </action> </item>
            <item label="CMatrix"> <action name="Execute">
                <execute>xterm -e cmatrix</execute>
            </action> </item>
            <item label="compton"> <action name="Execute">
                <execute>compton</execute>
            </action> </item>
            <item label="Dc"> <action name="Execute">
                <execute>xterm -e dc</execute>
            </action> </item>
            <item label="Extensions"> <action name="Execute">
                <execute>gnome-extensions-app</execute>
            </action> </item>
            <item label="Fonts"> <action name="Execute">
                <execute>gnome-font-viewer</execute>
            </action> </item>
            <item label="Help"> <action name="Execute">
                <execute>yelp</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
            <item label="Screenshot"> <action name="Execute">
                <execute>gnome-screenshot --interactive</execute>
            </action> </item>
            <item label="TeXInfo"> <action name="Execute">
                <execute>xterm -e info</execute>
            </action> </item>
            <item label="Xcalc"> <action name="Execute">
                <execute>xcalc</execute>
            </action> </item>
            <item label="Xman"> <action name="Execute">
                <execute>xman</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
