<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <!-- Firefox -->
        <item label="Web browser" icon="/usr/share/icons/Papirus/16x16/apps/firefox.svg">
            <action name="Execute">
                <execute>firefox</execute>
            </action>
        </item>
        <!-- Alacritty -->
        <item label="Terminal" icon="/usr/share/icons/Papirus/16x16/apps/terminal.svg">
            <action name="Execute">
                <execute>alacritty</execute>
            </action>
        </item>
        <!-- VS Code -->
        <item label="IDe" icon="/usr/share/icons/Papirus/16x16/apps/code.svg">
            <action name="Execute">
                <execute>vscodium</execute>
            </action>
        </item>
        <!-- Thunar -->
        <item label="File Manager" icon="/usr/share/icons/Papirus/16x16/apps/system-file-manager.svg">
            <action name="Execute">
                <execute>thunar</execute>
            </action>
        </item>
        <!-- Spotify -->
        <item label="Music" icon="/usr/share/icons/Papirus/16x16/apps/spotify-client.svg">
            <action name="Execute">
                <execute>env LD_PRELOAD=/usr/lib/spotify-adblock.so spotify %U</execute>
            </action>
        </item>
        <separator />
        <menu id="1" label="Development" icon="/usr/share/icons/Papirus/16x16/apps/applications-development.svg">
            <item label="GDB">
                <action name="Execute">
                    <execute>alacritty -e gdb</execute>
                </action>
            </item>
        </menu>
        <menu id="7" label="Multimedia" icon="/usr/share/icons/Papirus/16x16/apps/applications-multimedia.svg">
           <item label="Spotify" icon="/usr/share/icons/Papirus/16x16/apps/spotify-client.svg">
               <action name="Execute">
                   <execute>env LD_PRELOAD=/usr/lib/spotify-adblock.so spotify %U</execute>
               </action>
           </item>
            <item label="vlc" icon="/usr/share/icons/Papirus/16x16/apps/vlc.svg">
                <action name="Execute">
                    <execute>vlc</execute>
                </action>
            </item>
            <item label="Pavucontrol" icon="/usr/share/icons/Papirus/16x16/apps/pavucontrol.svg">
                <action name="Execute">
                    <execute>pavucontrol</execute>
                </action>
            </item>
        </menu>
        <menu id="5" label="Network" icon="/usr/share/icons/Papirus/16x16/apps/preferences-system-network.svg">
            <item label="Firefox" icon="/usr/share/icons/Papirus/16x16/apps/firefox.svg">
                <action name="Execute">
                    <execute>firefox</execute>
                </action>
            </item>
            <item label="qBittorrent" icon="/usr/share/icons/Papirus/16x16/apps/qbittorrent.svg">
                <action name="Execute">
                    <execute>qbittorrent</execute>
                </action>
            </item>
        </menu>
        <menu id="19" label="Shells" icon="/usr/share/icons/Papirus/16x16/apps/utilities-terminal.svg">
            <item label="Alacritty">
                <action name="Execute">
                    <execute>alacritty</execute>
                </action>
            </item>
            <item label="Bash">
                <action name="Execute">
                    <execute>alacritty -e bash --login</execute>
                </action>
            </item>
            <item label="Dash">
                <action name="Execute">
                    <execute>alacritty -e dash -i</execute>
                </action>
            </item>
            <item label="fish">
                <action name="Execute">
                    <execute>alacritty -e fish</execute>
                </action>
            </item>
            <item label="GIT">
                <action name="Execute">
                    <execute>alacritty -e git</execute>
                </action>
            </item>
            <item label="Sh">
                <action name="Execute">
                    <execute>alacritty -e sh --login</execute>
                </action>
            </item>
            <item label="Zsh">
                <action name="Execute">
                    <execute>alacritty -e zsh</execute>
                </action>
            </item>
        </menu>
        <menu id="38" label="Utilities" icon="/usr/share/icons/Papirus/16x16/apps/appimagekit-fontbase.svg">
            <item label="Fonts">
                <action name="Execute">
                    <execute>gnome-font-viewer</execute>
                </action>
            </item>
            <item label="Nitrogen" icon="/usr/share/icons/Papirus/16x16/apps/nitrogen.svg">
                <action name="Execute">
                    <execute>nitrogen</execute>
                </action>
            </item>
            <item label="Screenshot" icon="/usr/share/icons/Papirus/16x16/apps/flameshot.svg">
                <action name="Execute">
                    <execute>flameshot gui</execute>
                </action>
            </item>
        </menu>
        <separator />
        <menu id="40" label="OpenBox" icon="/usr/share/icons/Papirus/16x16/apps/gnome-monitor.svg">
            <menu id="client-list-menu" />
            <item label="Restart" icon="/usr/share/icons/Papirus/16x16/apps/system-restart.svg">
                <action name="Restart" />
            </item>
            <separator />
            <item label="Exit" icon="/usr/share/icons/Papirus/16x16/apps/backdoor-factory.svg">
                <action name="Exit" />
            </item>
        </menu>
    </menu>
</openbox_menu>
